.navigation{
    display:grid;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

@media (min-width: 600px){ 
    .navigation { padding: 20px; }
  }


  .navigation__item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5%;
  }
.navigation__item--border{
  border-right:0px;
}

.navigation__link{
  text-decoration: none;
  color: currentColor;
  font-weight: bold;
}
.navigation__link:focus{
  outline: 2px solid;
}
.navigation__link:hover{
  color: crimson;
  outline: none;
}
.navigation__link:active{
  color: purple;
  outline: none;
}
.navigation__link:visited{
  color: black;
}